*{
    margin:0;
    padding: 0;
}
#main{
            width: 100%;
            height: 100%;
            border: 2px solid black;
        }
.header{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.item{
    border: 1px solid orange;
}
#form{
    margin: auto;width: 80%; border: 1px solid green;
}
.input{
    width: 100%;
}
/* form search icon css written here................ */
input[type=text] {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                background-image: url('image/search.png');
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                }
/* form search icon manage end here */

